<h1>About Greg Kofford Books</h1>

<p>Greg Kofford Books was founded as a natural outgrowth of Greg Kofford's passion for books, pamphlets, letters, broadsides, and other collectables relating to Mormonism. As our first prospectus read:</p>

<blockquote>
Greg Kofford Books is a new publishing firm devoted to regional and Mormon studies. We are interested in all works relating to any period of the Mormon diaspora or contributing to the discussion of Mormon thought. Those involved with the firm have moved right past bibliophile and bibliomania to the area of bibliolatry and as such have a devotion to producing elegant books both in limited leather editions as well as traditional trade editions.
</blockquote>
