
<h1>Contact Information</h1>
<br/>
<div style="font-size: 16px;">

  <div style="float: left; width: 300px;">
    <div style="float: left; width: 80px; float: left;"><strong>ADRESS:</strong></div>
    <div style="float: left; float: left;">
      Greg Kofford Books<br/>
      PO Box 1362<br/>
      Draper, UT 84020<br/>
    </div>
  </div>
  <div style="float:left;">
    <div style="width: 80px; float: left; clear:left;"><strong>PHONE:</strong></div> 801.523.6063<br/>
    <div style="width: 80px; float: left; clear:left;"><strong>FAX:</strong></div> 877.240.1615<br/>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
