<h1>Privacy Policy</h1>

<h3>Information Collection and Use</h3>
<p>
Greg Kofford Books is the sole owner of the information collected on this site. We will not sell, share, or rent this information to any outside parties, except as outlined in this policy. Greg Kofford Books collects information from users at several different places on our website in order to process orders and better serve you with pertinent information. Information collected includes name, shipping address, billing address, telephone numbers, e-mail address, and payment information such as credit card. 
</p>
<p>
Greg Kofford Books also requires you to submit a user name and password of your choice for future access to your information. Your user name and password is to remain confidential and you should not share this information with anyone.
</p>

<h3>Registration</h3>
<p>
In order to process your orders using this website, a user must first complete the registration form. During registration a user is required to give their contact information, which includes name, e-mail, telephone number and physical address. This information is used to contact the user about the services on our site such as sending automated order status updates. This information is NOT shared.
</p>

<h3>Orders</h3>
<p>
Most of the information collected in the registration process will be used to process orders. In the order process, a user must provide additional financial information such as credit card number and expiration date. This information is used for billing purposes and to fulfill customer’s orders. If we have trouble processing an order, this contact information is used to get in touch with the user. We do not share your personal and financial information with any third parties. The only exception is when processing your credit card information with the merchant bank for authorization and approval. This process is protected by an enhanced security system. Note: For enhanced security and privacy, Greg Kofford Books does NOT save your credit/debit card information. See Security section for more details on security measures and procedures.
</p>

<h3>Data Tracking</h3>
<p>
We use some tracking cookies to maintain logged in user sessions and in-progress cart data. If a user rejects the cookie, they may still use our site, however you will be unable to use our shopping cart to purchase items online. This is because the shopping cart uses cookies to retain information necessary to process your order. If you disable cookies, we will not be able to accept your order online. We do not share any information with any third party sites. Cookies are used strictly for the purpose of providing a functional online shopping experience with our site. When you close your browser, all tracking cookies will be terminated. Cart-related data is still stored in the database for users that choose to save their carts for later usage.

<h3>Log Files</h3>
<p>
We use IP addresses to analyze trends, administer the site, track user’s movement, and gather broad demographic information for aggregate use. IP addresses are not linked to personally identifiable information. We do not distribute or share IP information with any third parties. Only Greg Kofford Books technical staff has access to log files. Log files are periodically purged.
</p>

<h3>Data Sharing</h3>
<p>
We use outside shipping companies (FedEx and USPS) to ship orders, and a credit card processing company to bill users for goods and services. These companies do not retain, share, store or use personally identifiable information for any secondary purposes.
</p>
<p>
Greg Kofford Books is located in Utah and abides by all federal and state laws. Greg Kofford Books will disclose any personally identifiable information when required to by law, but not under any other circumstances. 
</p>

<h3>Outside Links</h3>
<p>
This web site contains links to other sites. Please be aware Greg Kofford Books is not responsible for the privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of each and every web site that collects personally identifiable information. This privacy statement applies solely to information collected by this Web site.
</p>

<h3>Security</h3>
<p>
Greg Kofford Books's website takes every precaution to protect our users’ information. When users submit sensitive information via the website, your information is protected both online and off-line. When our registration/order form asks users to enter sensitive information (such as credit card number), that information is encrypted in transit with SSL certificates.
</p>
<p>
All of our users’ information is classified and restricted. The Greg Kofford Books is secured online and offline. Only employees who need the information to perform a specific job are granted access to personally identifiable information. If you wish to have your information removed, you may <a href="/contact_us.php">click here to contact us</a>. For future transactions, you will be required to re-enter your information. All Greg Kofford Books servers including web servers and database servers are housed at a secure facility. Access to the database is strictly monitored and protected from outside access. Internet access is restricted and protected by firewall and password protection. The servers that we store personally identifiable information on are kept in a physically secured environment. If you have any questions about the security at our website, you can <a href="/contact_us.php">click here to e-mail us</a>.
<p>

<h3>Special Offers</h3>
<p>
If you choose to receive special offers, Greg Kofford Books may send you such pertinent information. Our special offers are sent only to customers who grant Greg Kofford Books permission to send such information. Greg Kofford Books does not share your information with third parties and does not solicit outside parties to send special offers on our behalf. Out of respect for the privacy of our users we present the option to not receive these types of communications. Furthermore, all special offers are sent via e-mail and have a "remove link" if you wish to no longer receive special offers and news.
Otherwise, customers may occasionally receive information on products, services, special deals or news. Please see our choice and opt-out below for further details of how to be removed from our mailing list.
</p>

<h3>Correction/Updating/Reviewing Personal Information</h3>
<p>
Customers may change or review their recorded account information such as address or e-mail in the My Account area. or by going to the home page and clicking on the My Account button. You MUST have your username and password in order to access your account.
</p>

<h3>Choice/Opt-out</h3>
<p>
Greg Kofford Books does not use customer’s information for contact other than Greg Kofford Books pertinent business. Greg Kofford Books does not share our customer’s personal information with any outside parties. However, for customers who wish to opt-out or be removed from Greg Kofford Books special offers and related news, Greg Kofford Books provides several methods to accomplish this request. Users who no longer wish to receive our newsletter or promotional materials may opt-out of receiving these communications by un-checking the permission to send field when processing their order. They may also <a href="/contact_us.php">click here to e-mail us</a> with a request to be removed. Or, customers may also use the link provided with all communications to automatically unsubscribe.
</p>

<h3>Notification of Changes</h3>
<p>
If at any point we decide to use personally identifiable information in a manner different from that stated at the time it was collected, we would notify users by way of an email. Users will have a choice as to whether or not we use their information in this different manner. We will use information in accordance with the privacy policy under which the information was collected. If you have opted out of receiving any communications from Greg Kofford Books, you may visit our website at <a href="http://www.koffordbooks.com">http://www.koffordbooks.com</a> where news of changes will be posted. Otherwise, you may <a href="/contact_us.php">click here to e-mail us</a>. If you send us an e-mail request, we will respond to that e-mail only. You will not receive promotional materials unless you specifically grant us permission to do so.
</p>

You may also send a request to our physical address at:

Greg Kofford Books
11444 Jolley Acres Cir
Sandy, UT
84092
