<h1>Greg Kofford Book's Return Policy</h1>
<p>
Items may be returned for a full refund (net of shipping costs) within 30 days of shipment date under the following conditions.
</p>
<p>
Any book in its original condition (unmarked, not damaged)
Any unopened bundled product (still in its plastic shrink-wrap)
Any multimedia product, including software in the form of floppy discs, CD-Rom's, video and audio tapes and CD's
</p>

<p>
The product must be shipped via traceable means with the original packing slip or invoice enclosed. We cannot issue refunds and, will return product, for items returned to us more than 30 days after shipment date. If the invoice or packing slip is not enclosed with your return, we will have no obligation to refund or return the product.
</p>

<p>
Please refer to the return address on your packing slip to determine where to return your purchase. Please note that the return procedure above applies only to those items purchased from Greg Kofford Book’s web site. It does not apply to books bought at your local bookseller or at another bookseller or retail store.
</p>
